#nyc-map {
    margin-top: 40%;
    width: 2000px;
    display: flex;
    padding: 1%;
}

#comments {
    margin-left: 5%;
    margin-top: 2%;
    color: #ff7e5f;
}

.comment {
    margin-left: 8%;
    font-size: large;
    padding: 1%;
    font-style: oblique;
    color: #feb47b;
}

#fakeformtitle {
    margin-left: 5%;
    margin-top: 2%;
    color: #ff7e5f;
}

.leaflet-container {
    width: 100%;
    height: 100vh;
}