
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .stage{
    height: 350px;
    width: 250px;
    margin-left: auto;
    margin-right: 80px;
  }
  .p{
    font-size: 35px;
    text-align: center;
    margin-top: 0;
    cursor: pointer;
    width: 100%;
    background: #765385;
    border-radius: 10px;
    font-family: Century Gothic;
    letter-spacing: 5px;
  }
  .div{
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    width: 280px;
    height: 30px;
    margin-top: 8%;
   transition-duration: 0.2s;
  
  }
  .p:hover{
    background: #f5ab99;
    color: #351C4D;
  }
  .div:nth-child(odd){
    transform: perspective(300px) rotateY(45deg);
    box-shadow: -2px 2px 7px rgb(48, 47, 47);
  }
  .div:nth-child(even){
    transform: perspective(300px) rotateY(-45deg);
      box-shadow: 2px 2px 7px rgb(50, 50, 50);
  }
  .div:hover{
    transform: rotateY(0);
    background: white;
    color: black;
    box-shadow: 0px 0px 0px;
  }