.productcards {
  list-style: none;
}

.productcard {
  margin: 1rem;
}

.productcard img {
  width: 16rem;
}

.productcard button {
  margin-top: 0.5rem;
}

@media (min-width: 768px) {
  .productcards {
    display: flex;
    flex-wrap: wrap;
  }

  .productcard {
    width: calc(33% - 2rem);
  }
}

@media (min-width: 1024px) {
  .productcard {
    width: calc(25% - 2rem);
  }
}

@media (min-width: 1200px) {
  .productcard {
    width: calc(20% - 2rem);
  }
}

