.slider-pic {
    width: 175px;
    height: 195px;
    
}

.slider-container {
    max-width: 140px;
}

.slick-prev:before, .slick-next:before {
  color: #000; /* Change to your desired color */
  font-size: 30px; /* Change to your desired font size */
}

/* Change the background color of the arrows on hover */
.slick-prev:hover:before, .slick-next:hover:before {
  color: #ccc; /* Change to your desired color */
}

.slick-track {
    margin-left: 80px;
}

.slick-slide {
    width: 140px;
}



.how-container {
height: 1350px;
}

.blue-img {
  max-width: 700px;
  max-height: 800px;
}

.slider-card-container {
  padding: 100px;
}

// .booger {
//     display: flex;
// }

// .nose1 {
//     width: 75%;
// }

// .nose2 {
//     width: 25%;
// }



// @media (min-width: 768px) {
//   .productcards {
//     display: flex;
//     flex-wrap: wrap;
//   }

//   .productcard {
//     width: calc(33% - 2rem);
//   }
// }

// @media (min-width: 1024px) {
//   .productcard {
//     width: calc(25% - 2rem);
//   }
// }

// @media (min-width: 1200px) {
//   .productcard {
//     width: calc(20% - 2rem);
//   }
// }

